@font-face {
    font-family: kings;
    src: url('../font/fonthaigodeeper/KingsofKingsLynn.otf');
}
@font-face {
    font-family: dkdrt;
    src: url('../font/fonthaigodeeper/DK\ Dirrrty.ttf');
}
@font-face {
    font-family: gotham;
    src: url('../font/fonthaigodeeper/Gotham-Medium.otf');
}
@font-face {
    font-family: latolight;
    src: url('../font/Lato/Lato-Light.ttf');
}
*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    font-family: gotham;
    font-size:2.3vh
}
.nomarginbottom{
    margin-bottom:0!important;
}
.marginauto{
    margin-left:auto;
    margin-right: auto;
}
strong{
    font-family:latobold!important;
}
.img-res{
    max-width: 100%;
}
.margintop{
    margin-top:150px;
}
.text-merah{
    color:#ef4358;
}
.text-merah-tua{
    color:#ac071a;
}
.sec-0{
    width:100%;
}
.cover-0{
    background:url('../images/0/1-cover.jpg') no-repeat #FFF;
    background-size:100%;
    height: 750px;
    position:relative;
}
.cover-0 .title{
    background: rgba(0, 0, 0, 0.2);
    width:100%;
    height:50%;
    bottom:0;
    position:absolute;

}
.title-intro{
    font-family: kings!important;
}
.sec-1{
    width:100%;
}
.cover-1{
    background:url('../images/1/2-cover-akademis.jpg') no-repeat #FFF;
    background-size:100%;
    height: 950px;
    position:relative;
}
.cover-1 .title{
    background: rgba(255, 235, 15, 0.2);
    width:100%;
    height:100%;

}
.body-1{
    position: relative;
}
.body-1 .bala-left{
    position: absolute;
    left:5%;
    top:0;
}
.body-1 .bala-right{
    position: absolute;
    right:8%;
    top:5%;
}
.body-1 .segitiga-left{
    position: absolute;
    left:5%;
    bottom:50%;
}
.body-1 .segitiga-right{
    position: absolute;
    right:8%;
    bottom:60%;
}
.body-1 .segitiga-bottom-left{
    position: absolute;
    left:3%;
    bottom:0;
}
.body-1 .segitiga-bottom-right{
    position: absolute;
    right:4%;
    bottom:0;
}
.sec-2{
    width:100%;
}
.cover-2{
    background:url('../images/2/2-foto-cemewew.jpg') no-repeat #FFF;
    background-size:100%;
    height: 950px;
    position:relative;
}
.cover-2 .title{
    background: rgba(238, 67, 87, 0.5);
    width:100%;
    height:100%;

}
.body-2{
    position: relative;
}
.box-insta1{
    margin-top:60px; 
    background-image:
    linear-gradient(to bottom right, #dfdfdf, #dfdfdf), /* draws left part */
    linear-gradient(to bottom left, transparent 50%, #dfdfdf 50%), /* draws right part */
    linear-gradient(to right, #dfdfdf, #dfdfdf); /* draws central flat part */
 
   background-repeat: no-repeat;
 
   /* Sets the background size of each of three shapes individually */
   background-size: 76px 100%, 75px 100%, calc(100% - 150px) 100%;
 
   /* Sets the background position of each of three shapes individually */
   background-position: 0 0, 100% 0, 75px 0;
}
.img-insta1{
    width:30%;
    margin-left:-17%;
    margin-top:-10%;
}
.text-insta1{
    width: 80%;
    padding:1%;
}
.box-insta2{
    margin-top:100px; 
    background-image:
    linear-gradient(to top right, transparent 50%, #dfdfdf 50%), /* draws right part */
    linear-gradient(to top left, #dfdfdf, #dfdfdf), /* draws left part */
    linear-gradient(to right, #dfdfdf, #dfdfdf); /* draws central flat part */
 
   background-repeat: no-repeat;
 
   /* Sets the background size of each of three shapes individually */
   background-size: 30px 100%, 150px 100%, calc(100% - 150px) 100%;
 
   /* Sets the background position of each of three shapes individually */
   background-position: 0 0, 100% 0, 30px 0;
}
.img-insta2{
    width:30%;
    margin-right:-60%;
    margin-top:-7%;
}
.text-insta2{
    width: 65%;
    padding:1%;
    margin-left:30px;
}
.box-insta3{
    margin-top:80px; 
    background-image:
    linear-gradient(to bottom right, #dfdfdf, #dfdfdf), /* draws left part */
    linear-gradient(to bottom left, transparent 50%, #dfdfdf 50%), /* draws right part */
    linear-gradient(to right, #dfdfdf, #dfdfdf); /* draws central flat part */
 
   background-repeat: no-repeat;
 
   /* Sets the background size of each of three shapes individually */
   background-size: 100px 100%, 50px 100%, calc(100% - 150px) 100%;
 
   /* Sets the background position of each of three shapes individually */
   background-position: 0 0, 100% 0, 100px 0;
}
.img-insta3{
    width:30%;
    margin-left:-17%;
    margin-top:-3%;
    margin-bottom:-3%;
}
.text-insta3{
    width: 80%;
    padding:1%;
}
.box-insta4{
    margin-top:100px; 
    background-image:
    linear-gradient(to top right, transparent 50%, #dfdfdf 50%), /* draws right part */
    linear-gradient(to top left, #dfdfdf, #dfdfdf), /* draws left part */
    linear-gradient(to right, #dfdfdf, #dfdfdf); /* draws central flat part */
 
   background-repeat: no-repeat;
 
   /* Sets the background size of each of three shapes individually */
   background-size: 75px 100%, 150px 100%, calc(100% - 150px) 100%;
 
   /* Sets the background position of each of three shapes individually */
   background-position: 0 0, 100% 0, 74px 0;
}
.img-insta4{
    width:30%;
    margin-right:-60%;
    margin-top:-3%;
    margin-bottom:-3%;
}
.text-insta4{
    width: 65%;
    padding:1% 1% 1% 4%;
    margin-left:30px;
}
.box-insta5{
    margin-top:80px; 
    background-image:
    linear-gradient(to bottom right, #dfdfdf, #dfdfdf), /* draws left part */
    linear-gradient(to bottom left, transparent 50%, #dfdfdf 50%), /* draws right part */
    linear-gradient(to right, #dfdfdf, #dfdfdf); /* draws central flat part */
 
   background-repeat: no-repeat;
 
   /* Sets the background size of each of three shapes individually */
   background-size: 100px 100%, 50px 100%, calc(100% - 150px) 100%;
 
   /* Sets the background position of each of three shapes individually */
   background-position: 0 0, 100% 0, 100px 0;
}
.img-insta5{
    width:30%;
    margin-left:-17%;
    margin-top:-3%;
    margin-bottom:-3%;
}
.text-insta5{
    width: 80%;
    padding:1%;
}
.box-insta6{
    margin-top:100px; 
    background-image:
    linear-gradient(to top right, transparent 50%, #dfdfdf 50%), /* draws right part */
    linear-gradient(to top left, #dfdfdf, #dfdfdf), /* draws left part */
    linear-gradient(to right, #dfdfdf, #dfdfdf); /* draws central flat part */
 
   background-repeat: no-repeat;
 
   /* Sets the background size of each of three shapes individually */
   background-size: 75px 100%, 150px 100%, calc(100% - 150px) 100%;
 
   /* Sets the background position of each of three shapes individually */
   background-position: 0 0, 100% 0, 74px 0;
}
.img-insta6{
    width:30%;
    margin-right:-60%;
    margin-top:1%;
}
.text-insta6{
    width: 85%;
    padding:1% 1% 1% 6%;
    margin-left:30px;
}
.title-insta{
    margin-bottom:30px;
    color:#ef4358;
    font-weight: bold;
}
.foot-insta{
    margin-top:30px;
    color:#ef4358;
    font-weight: bold;
}
.box-title{
    font-family: dkdrt!important;
}
.hd1{
    position: absolute;
    left:3%;
    top:15%;
}
.hd2{
    position: absolute;
    right:3%;
    top:25%;
}
.hd3{
    position: absolute;
    left:3%;
    top:35%;
}
.hd4{
    position: absolute;
    right:3%;
    top:40%;
}
.hd5{
    position: absolute;
    left:3%;
    top:49%;
}
.hd6{
    position: absolute;
    right:3%;
    top:60%;
}
.l-left{
    position: absolute;
    left:3%;
    bottom:5%;
}
.l-right{
    position: absolute;
    right:3%;
    bottom:0;
}
.sec-4{
    width:100%;
}
.cover-4{
    background:url('../images/4/foto_tawuran.jpg') no-repeat #FFF;
    background-size:100%;
    height: 960px;
    position:relative;
}
.cover-4 .title{
    background: rgba(172, 6, 26, 0.5);
    width:100%;
    height:100%;

}
.body-4{
    position: relative;
}
.blood-left{
    position:absolute;
    top:15%;
    left:1%;
}
.blood-right{
    position:absolute;
    top:20%;
    right:3%;
}
.bamm{
    position:absolute;
    top:55%;
    left:3%;
}
.pow{
    position:absolute;
    top:40%;
    right:3%;
}
.blood2-left{
    position:absolute;
    top:70%;
    left:1%;
}
.blood2-right{
    position:absolute;
    top:75%;
    right:3%;
}
.blood3-left{
    position:absolute;
    bottom:10%;
    left:1%;
}
.blood3-right{
    position:absolute;
    bottom:5%;
    right:3%;
}
.sec-5{
    width:100%;
}
.cover-5{
    background:url('../images/5/tongkrongan.jpg') no-repeat #FFF;
    background-size:100%;
    height: 850px;
    position:relative;
}
.cover-5 .title{
    background: rgba(248, 235, 56, 0.5);
    width:100%;
    height:100%;

}
.body-5-yellow{
    background:#fdff64;
}
.box-senior{
    background:#edc02d;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sec-6{
    width:100%;
}
.cover-6{
    background:url('../images/6/foto_anak_hits_di_sekolah.jpg') no-repeat #FFF;
    background-size:100%;
    height: 950px;
    position:relative;
}
.cover-6 .title{
    background: rgba(5, 77, 126, 0.5);
    width:100%;
    height:100%;

}
.body-6{
    position: relative;
}
.box-hits{
    background:#054d7e;
    padding:50px 10px 10px!important;
}
.box2-hits{
    background:#054d7e;
    padding:20px!important;
}
.box2-hits .box-title{
    font-family: kings!important;
}
.pr1{
    position: absolute;
    top:40%;
    left:0;
}
.pr2{
    position: absolute;
    top:45%;
    right:5%;
}
.pr3{
    position: absolute;
    top:60%;
    left:0;
}
.pr4{
    position: absolute;
    top:65%;
    right:5%;
}
.pr5{
    position: absolute;
    top:75%;
    right:0;
}
.pr6{
    position: absolute;
    top:80%;
    right:3%;
}
.pr7{
    position: absolute;
    top:85%;
    left:1%;
}
.pr8{
    position: absolute;
    top:90%;
    right:2%;
}
.pr9{
    position: absolute;
    top:95%;
    left:3%;
}
.sec-7{
    background:#fcff6c;
}
.body-7{
    padding:50px;
}